/**
* RESET
*/
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 62.5%; padding: 0; margin: 0; }
body { font-size: 1.5rem; }

/**
* Input de recherche site :
*/
.insertionLink {
	margin: 3rem 0;
	text-align: center;
}
[name="link"] {
	width: 50%;
	height: 2.5rem;
	padding: 0 .6rem;
}
[name="valider"] {
	width: 4%;
	height: 3rem;
}

/**
* Row milieu
*/
body section:nth-child(2) {
	text-align: center;
}

/**
* Row milieu - Colonne gauche rouge
*/
.contenuToCheck {
    margin-top: 3rem;
    padding: 1rem;
    overflow: auto;
    width: 65%;
    height: 50rem;
    display: inline-block;
}
	/* Ajout visuelle au survol (js) */
	.baliseHover {
		border: .1rem solid red!important;
	}

	/* Ajout de la couleur au click */
	.baliseSelection {
		background-color: yellow!important; 
	}

/**
* Row milieu - Colonne droite Tableau selectionné
*/
.creationDesBlocks {
	display: inline-block;
    border: .1rem solid #000;
    width: 25%;
    height: 50rem;
    margin-top: 3rem;
    padding: 1rem;
    overflow: auto;
}

/**
* Row bas - bouton de reset
*/
#resetBalise {
	display: block;
    margin: 2rem auto;
}

/**
* Simulation de contenu pour developpement
*/
.annonces {
	border: .1rem solid #000;
    margin-bottom: 1.5rem;
    border-radius: .6rem;
    padding: .9rem;
}
.annonces span { 
	font-size: .5em; color: red;
}